 /* #container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  */

html, body{
  overflow: hidden;
}

.intro-text{
  position: absolute;
  top: 10%;
  
  max-width: 580px;
  padding: 3vw 8vw 3vw 6vw;

  z-index: 1;
  pointer-events: none;
}

h1, p{
  margin: .4em 0;
}

p{
  opacity: .5;
}

h1.comment::before{
  content:'“';
  position: absolute;
  transform: translatex(-100%);
}

.grad{
  position: fixed;
  width: 100vw;
  height: 100%;
  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  pointer-events: none;
  /* background: linear-gradient(180deg, rgba(45, 43, 45, 0) 64%, rgb(214, 214, 214) 100%); */
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 60%, #131313 100%);
}

.flex{
  display: flex;
}

@media only screen and (max-width: 768px){
  .intro-text{
    position: absolute;
    z-index: 1;
    pointer-events: none;

    padding: 3vw 18vw 3vw 6vw;
  }
  h1{
    font-size: 24px;
  }
  .intro p{
    font-size: 18px;
    font-weight: 700;
  }
}

.cta-container{
  margin: 0vw 6vw 0;
  transform: scale(1.3);
  transform-origin: top left;
  user-select: none;
}

.btn{
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 12px;
  font-size: 12px!important;
  border-radius: 12px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 300!important;
}

.cta.btn{
    background: #0071E3;
    color: #fff;
    border: 1px solid #0071E3;
    
}

.cta--contact a{
  text-decoration: none;
}
.cta--contact{
  position: absolute;
  bottom: 140px;
  z-index: 1;
}

@media only screen and (min-width: 542px){
  .cta--contact{
    bottom:300px;
  }
}

.cta--contact a, .cta--contact p{
  color: #fff!important;
  opacity: 1;
  font-size: 18px;
  font-weight: 700;
}



    .rta{
      width: 100vw;
      text-align: center;

      background: #F3f3f3;
      box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.17);
      border-radius: 24px 24px 0px 0px;

      position: fixed;
      transform: translatey(100vh);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
      
      transition: transform .7s var(--transition);
    }

    .rta.show{
      transform: translatey(0);
    }

    .rta--wechat-content{
      width: 50%;
      margin: 42px auto 24px;
    }

    .rta--wechat-content img{
      border-radius: 7px;
    }

    .rta .hint{
      font-size: 16px;
      margin: -16px 12px 12px;
      color: #010101;
    }

    @media only screen and (min-width: 816px){
      .rta{
        width: 70vw;
        left: 50%;
        transform: translatey(100vh) translatex(-50%);
      }
      .rta.show{
        transform: translatey(0) translatex(-50%);
      }
    }

    #block{
      position: fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      background: black;
      opacity: 0;
      z-index: 45;
      pointer-events: none;
      transition: opacity .5s var(--transition);
    }

    #block.show{
      opacity:.3;
      pointer-events: all;
      user-select: none;
      transition: opacity .5s var(--transition);
    }

    .dragger{
      width: 30vw;
      height: 3px;
      margin: 10px auto 24px;

      background: #303030;
      opacity: .5;
      border-radius: 100px;
    }

